body
{
    
    background-color: #221F1F;
}
.jumbotron {
    background-color: #221F1F;
    color: #B81D24;
    padding: 100px 25px;
  }
  .navbar {
    margin-bottom: 0;
    background-color: #221F1F;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
  }
  
  .navbar li a, .navbar .navbar-brand {
    color: #fff !important;
  }

  .navbar img{
    max-width: 30%
  }
  
  .navbar-nav li a:hover, .navbar-nav li.active a {
    color: #ffffff !important;
    background-color: #E50914 !important;
  }
  
  .navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
  }

:root {
    --primary: #221F1F;
    --light: #F3F3F3;
    --dark: 	#686868;
  }
  
  html, body {
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: var(--primary);
    color: var(--light);
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    line-height: 1.4;
  }
  
  img {
    max-width: 100%;
  }
  
  h1 {
    padding-top: 60px;  
  }

  .main-nav {
    grid-area: mn;
    padding: 0 30px 0 20px;
  }
  
  .main-nav a {
    color: var(--light);
    text-decoration: none;
    margin: 5px;  
  }
  
  .main-nav a:hover {
    color: var(--dark);
  }
  
  .sub-nav {
    grid-area: sb;
    padding: 0 40px 0 40px;
  }
  
  .sub-nav a {
    color: var(--light);
    text-decoration: none;
    margin: 5px;
  }
  
  .sub-nav a:hover {
    color: var(--dark);
  }
  
  @media(max-width: 500px) {
  
    .wrapper {
      font-size: 15px;
    }
  
    header {
      margin: 0;
      padding: 20px 0 0 0;
      position: static;
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(1, 1fr);
      grid-template-areas: 
      "nt"    
      "mn"
      "sb";
      text-align: center;
    }
 
}
.searchcard{
  
  background-color: #5c5858;
    margin: 10px;
    text-align: center;
    justify-content: space-between;
    height: max-content;
    width: 200px;
}
 
.searchContent{
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-around;
    margin: 100px;
    background-color: #221F1F;
}

.Favlist{
  background-color: #5c5858;
    margin: 10px;
    text-align: center;
    justify-content: space-between;
    height: max-content;
    width: 200px;
}

.Favlist img{
  height: 300px;
}
.Favlist button{
  height: 30px;
  width: 90px;
  color: white;
  background-color: #E50914;
  border: none;
  margin-bottom: 10px;
}

.mylistContent{
  display: flex; 
  flex-wrap: wrap; 
  justify-content: space-around;
  margin: 100px;
  background-color: #221F1F;
}